<!-- Interpolation 
Syntax->{{expression}}-->
<h1>Title: {{title}}</h1>

<!-- Property Binding 
  Syntax-> [property]='expression'-->
  <span [innerHTML]="name"></span>
<!-- img [src]=link; -->

<button (click)="onclick()">Event Trigger Button</button>
<button [disabled]="currentValue">
  Response Button
</button>

<!-- Difference Between Interpolation and Property Binding -->
<!-- Interpolation fails when boolean value is used. So when we need to work with property we must use property Binding. -->